<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{CMS_NAME}网站管理系统 V{CMS_VERSION} 安装向导</title>
<link href="{SITE_THEME}../install/install.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="width">
	<div class="m10">
    	<div class="logo"><span>使用说明</span><img src="{SITE_THEME}../install/install.png" /></div>
        <div class="table">
			<div class="nr">
				<div class="nr-n">
					<p>一、《LycheeCMS》基于FineCMS v2.20进行二次开发，由lychee提供升级与维护</p>
					<br/>
					<p>二、秉承FineCMS一直提倡免费开源的理念,LycheeCMS继续开放源代码，继续为开源事业做一点贡献。</p>
					<p>GitHub地址：<a href="https://github.com/Luckylewin/LycheeCMS">https://github.com/Luckylewin/LycheeCMS</a></p>
				</div>
			</div>
        </div>
		<div class="bnt">
			<form action="{url('install/')}" method="post" id="dform">
			<input type="hidden" name="step" value="2"/>
			<input type="submit" class="n" value="下一步安装"/>
			</form>
		</div>
    </div>
</div>
</body>
</html>
